CONFIG_STATIC=y
CONFIG_FEATURE_USE_BSS_TAIL=y
CONFIG_DESKTOP=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_BUILTIN_ECHO=y
CONFIG_LS=y
CONFIG_CAT=y
CONFIG_ECHO=y
CONFIG_PWD=y
CONFIG_CD=y
CONFIG_MKDIR=y
CONFIG_RM=y
CONFIG_CP=y
CONFIG_MV=y
CONFIG_ENV=y
CONFIG_TRUE=y
CONFIG_FALSE=y
CONFIG_TEST=y
CONFIG_FEATURE_SH_STANDALONE=y
CONFIG_FEATURE_SH_NOFORK=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_EDITING=y
CONFIG_FEATURE_EDITING_HISTORY=20
CONFIG_FEATURE_PREFER_APPLETS=y
# CONFIG_TC is not set
# CONFIG_IP is not set
# CONFIG_IFCONFIG is not set
# CONFIG_PING is not set
